//Fonts
$logo-f: 'Montserrat', serif;
$primary-f: 'Luciano Display', sans-serif;

//Colors
$primary-c: tomato;
$secondary-c: #F8E0E1;
$bg-c: #0E0505;
$bg-c-40: rgba(14, 5, 5, 0.4);
$sidebar-c: #1E1717;
$font-c: #DCDCDC;

$btn-border-radius: 50%;


* {
  font-family: $primary-f;
  font-weight: 500;
  font-size: 16px;
  color: $font-c;
}
main {
  background-color: $bg-c;
}



